#toolbar-jscompiler {
	background-image: url(images/jscompiler.svg);
	height: 24px;
	width: 24px;
}
#toolbar-jscompiler.success {
	background-position: 0 -24px;
}
#toolbar-jscompiler.active {
	background-position: 0 -48px;
}
#toolbar-jscompiler.warning {
	background-position: 0 -72px;
}
#toolbar-jscompiler.error {
	background-position: 0 -96px;
}
#toolbar-jscompiler.disabled {
   opacity: 0.4;
}
